// https://github.com/Klowd/onlineeventpro-product-ui/wiki/Styles
@import "../../../css/core";

.nowPlayingDrawerSessionSpeakers {
  color: $brand-white;
  font-family: $title-text-font;
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}
