// Used Controls:["dropdownlist","multiselect","input","numerictextbox","checkbox","switch","radio","datetime","calendar","card","dialog","tooltip","listview","scheduler","forms"]
$base-theme: Bootstrap;
$skin-name: subset;
$swatch-name: Bootstrap;
$border-radius: 0.38rem;
$accent: #000;
$secondary: #e4e7eb;
$info: #17a2b8;
$success: #28a745;
$warning: #ffc107;
$error: #dc3545;
$body-bg: #ffffff;
$body-color: #2e2c2d;
$component-bg: #ffffff;
$component-color: #2e2c2d;
$card-cap-bg: #f4f5f7;
$card-cap-color: #2e2c2d;
$series-a: #0275d8;
$series-b: #5bc0de;
$series-c: #5cb85c;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #d9534f;
