// https://github.com/Klowd/onlineeventpro-product-ui/wiki/Styles
@import "../../../css/core";

.mainWrapper {
  @include mainPageSetting;
}

.homepageMidTop {
  justify-content: center;
  display: flex;
  flex-flow: column;

  @include mq("midpoint") {
    flex-flow: row;
  }
}

.homeNowPlaying {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

  @include mq("midpoint") {
    flex-flow: row;
    align-items: stretch;
    justify-content: flex-end;
    margin-top: 60px;
  }
}
