// https://github.com/Klowd/onlineeventpro-product-ui/wiki/Styles
@import "../../../css/core";

.faq {
  min-height: calc(#{$bodyMinHeight});
  padding-bottom: 60px;

  &.preEvent {
    margin-top: 100px;
  }
  > h1 {
    @include gridTitle();
  }

  &.emptyMessage {
    text-align: center;
    font-size: 20px;
    font-family: $title-text-font;
    color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      @include mq("tablet-small") {
        transform: translateY(-15%);
      }
    }
  }
}

.faqWrapper {
  box-sizing: border-box;
  font-family: $title-text-font;
  text-transform: none;
  width: 100%;
  max-width: calc(#{$maxBaseWidth} - 60px);
  padding: 45px 30px;
  margin: auto;
  display: flex;
  flex-flow: column;

  @include mq("tablet-wide") {
    flex-flow: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  h2 {
    width: 100%;
  }
}

.col {
  box-sizing: border-box;
  width: 100%;

  @include mq("tablet-wide") {
    width: 48%;
  }
}
