@import "../../../../css/core";

.fieldWrapper {
  .requiredText {
    color: $brand-red;
  }

  label {
    font-family: $title-text-font;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.4;
    letter-spacing: normal;
    text-align: left;
    color: $brand-grey-2;
  }

  input,
  select,
  textarea {
    @include inputSettings();

    border-radius: 0;
    font-size: 12px;
  }

  textarea {
    resize: vertical;
    padding-top: 8px;
  }

  &.invalidField {
    label {
      color: $brand-red;
    }

    input,
    select,
    textarea {
      border-color: $brand-red;
      color: $brand-red;
    }

    .fieldErrorText {
      font-family: $title-text-font;
      font-size: 10px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.4;
      letter-spacing: normal;
      text-align: left;
      color: $brand-red;
    }

    ::-webkit-input-placeholder {
      color: $brand-red;
    }
    :-moz-placeholder {
      /* Upto Firefox 18, Deprecated in Firefox 19  */
      color: $brand-red;
    }
    ::-moz-placeholder {
      /* Firefox 19+ */
      color: $brand-red;
    }
    :-ms-input-placeholder {
      color: $brand-red;
    }
  }

  .inputGroup {
    position: relative;
    width: 70%;

    input,
    select,
    textarea,
    .fieldErrorText,
    .fieldHelpText {
      width: 100%;
      box-sizing: border-box;
    }

    input,
    select {
      height: 28px;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    .selectWrapper::before {
      position: absolute;
      top: 11px;
      right: 10px;
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      background-image: url("/images/icons/select-arrow.svg");

      pointer-events: none;
    }

    .fieldHelpText {
      font-family: $title-text-font;
      font-size: 10px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.4;
      letter-spacing: normal;
      text-align: left;
    }
  }

  .radioFieldSet {
    border: 0;
    margin: 0;
    padding: 0;

    legend {
      font-family: $title-text-font;
      font-size: 10px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.4;
      letter-spacing: normal;
      text-align: left;
      color: $brand-black;
    }

    label {
      font-family: $title-text-font;
      font-size: 12px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.4;
      letter-spacing: normal;
      text-align: left;
      color: $brand-black;
      padding-left: 10px;
    }
  }

  .fieldHelpText {
    font-family: $title-text-font;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.4;
    letter-spacing: normal;
    text-align: left;
  }
}

.formButtonPrimary {
  @include primaryButton();

  @include mq("tablet") {
    min-width: 143px;
  }
}

.formButtonSecondary {
  @include secondaryButton();

  @include mq("tablet") {
    min-width: 143px;
  }
}

.formButtonAlternate {
  @include alternateButton();
}

.horizontalRow {
  display: flex;
  flex-flow: row;
  align-items: center;
}
