// https://github.com/Klowd/onlineeventpro-product-ui/wiki/Styles
@import "../../../css/core";

.loaderModal {
  h3 {
    text-align: center;
    color: $primary-color;
    font-size: 24px;
    margin-bottom: 0.5em;
  }
}
