// https://github.com/Klowd/onlineeventpro-product-ui/wiki/Styles
@import "../../../css/core";
@import "../../Profile/scss/_account_profile_mixins";

.main {
  @include basePageSetting;
  border: 1px solid #dee2e6;
}

.representativeSetupHeaderWrapper {
  @include accountPageHeaderSectionGrid;
}

.representativeSetupHeader {
  @include accountPageInnerHeaderDisplay;
}

.tr {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #e4e7eb;
  border-top: none;
  padding: 10px;

  th {
    width: max-content;
  }

  td {
    padding: 0 5px;
    width: 100%;

    div {
      display: block;

      label {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }

  button {
    padding-left: 0;
  }
}

.role {
  div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    svg {
      height: 15px;
    }
  }
}

.tableHeader {
  background-color: #e4e7eb;
  height: 30px;
  display: block;
  border: 1px solid #e4e7eb;
  width: auto;

  tr {
    display: none;
  }
}

.tableBody {
  width: auto;
  display: block;

  @include mq("phone-wide") {
    display: contents;
  }
}
