// https://github.com/Klowd/onlineeventpro-product-ui/wiki/Styles
@import "../../../css/core";

.npWrapper {
  margin-bottom: 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  flex-grow: 1;

  + div {
    min-height: 0;
  }

  @include mq("midpoint") {
    width: 75%;
  }
}

.lottie {
  box-sizing: border-box;
  height: auto;
  width: 280px;
  padding: 10px 20px;
  margin: 40px 10px 20px 10px;

  svg {
    height: 97%;
    width: 94%;
  }

  @include mq("midpoint") {
    width: 360px;
  }
}

.npTitle {
  font-family: $title-text-font;
  color: $brand-gray;
  font-size: 34px;
  text-align: center;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;

  @include mq("tablet-small") {
    text-align: left;
  }

  @include mq("midpoint") {
    font-size: 45px;
    margin-bottom: 30px;
  }
}

.npCards {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;

  @include mq("midpoint") {
    width: 90%;
  }
}

.largeCard {
  @include clickCardSetting;

  display: flex;
  box-sizing: border-box;
  height: 310px;
  align-content: center;
  margin: 15px 0;
  padding: 30px;
  justify-content: space-between;
  width: 100%;

  &:first-child {
    margin-top: 0;
  }

  h1 {
    font-family: $title-text-font;
    color: $primary-color;
    font-weight: 500;
    font-size: 20px;
    margin: 0;

    @include mq("tablet-small") {
      font-size: 24px;
    }
  }

  h2 {
    color: $brand-gray;
    font-weight: 500;
    font-family: $title-text-font;
    font-size: 15px;
    margin: 10px 0;
    line-height: 20px;

    @include mq("tablet-small") {
      margin: 0;
    }
  }

  .sessionSpeakers {
    font-family: $title-text-font;
    font-size: 15px;
    margin: 10px 0;
    line-height: 20px;
    color: $primary-color;
    font-weight: 500;

    @include mq("tablet-small") {
      margin: 0;
    }
  }
}

.npContentContainer {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: space-between;
  height: 100%;
  padding-right: 5px;
  width: 100%;

  a {
    @include alternateButton();

    width: 100%;
    max-width: 130px;
    padding: 10px 0;
  }

  .npSpeakersFavorites {
    display: flex;
    flex-flow: row;
    align-content: flex-start;
    justify-content: space-between;

    > button {
      margin-top: -5px;
    }
  }
}
