// https://github.com/Klowd/onlineeventpro-product-ui/wiki/Styles
@import "../../../css/core";

@mixin poster4Up {
  > div,
  > a {
    @include clickCardSetting;

    box-sizing: border-box;
    width: 100%;
    margin: 1%;
    padding: 30px;
    height: max-content;
    min-width: 250px;

    @include mq("phablet") {
      width: 45%;
    }

    @include mq("tablet") {
      width: 30%;
    }

    @include mq("midpoint") {
      width: 23%;
      padding: 45px 30px;
    }
  }
}
