// https://github.com/Klowd/onlineeventpro-product-ui/wiki/Styles
@import "../../../css/core";

.posterPillDisclaimer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.posterLevel {
  flex-grow: 1;
  display: flex;
  align-items: center;

  > img {
    margin-right: 10px;
  }
}

.fileViewer {
  text-align: right;
  display: flex;
  max-width: 200px;
  align-items: center;

  img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
  }

  span {
    vertical-align: middle;
  }

  button {
    background-color: $brand-white;
    border: none;
    color: $primary-color;
    text-decoration: underline;

    &:hover {
      color: $secondary-color;
    }

    &:focus {
      outline: -webkit-focus-ring-color auto 1px;
    }
  }
}
