// https://github.com/Klowd/onlineeventpro-product-ui/wiki/Styles
@import "../../../css/core";
@import "./poster_mixins";

.title {
  @include gridTitle();

  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include mq("laptop-wide") {
    width: 70%;
    margin-left: auto;
    margin-right: 0;
  }
}

.featuredTitle {
  @include gridTitle();
}

.postersListHolder {
  @include gridFlex();
  @include poster4Up;

  width: 100%;

  &:focus {
    outline: 0;
  }
}

.noPosters {
  @include gridFlex();
}

.flex {
  display: flex;

  @include mq("tablet-wide", "max") {
    flex-direction: column;
  }
}

.innerFlex {
  display: flex;
  flex-direction: column-reverse;
  height: fit-content;
  margin-right: 0;
  background: $brand-white-2;
  padding: 30px 30px 10px;
  min-width: 250px;
  margin-bottom: 0;
  position: relative;

  @include mq("tablet-wide") {
    margin-bottom: 40px;
    padding: 10px 30px;
  }
}

.mobileFilterButton {
  color: $primary-color;
  background: transparent;
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
  font-family: $title-text-font;
  height: 40px;
  bottom: 20px;
  border: solid 1px $brand-gray;
  margin: 0 30px;
  width: -webkit-fill-available;
}
