@font-face {
  font-family: Akzidenz Grotesk;
  src: url("/fonts/AkzidGroCFFSup.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Materialdesignicons webfont;
  src: url("/fonts/materialdesignicons-webfont.woff2") format("woff2"),
    url("/fonts/materialdesignicons-webfont.eot") format("embedded-opentype"),
    url("/fonts/materialdesignicons-webfont.woff") format("woff"),
    url("/fonts/materialdesignicons-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Akzidenz Grotesk;
  src: url("/fonts/AkzidGroCFFXBdIt.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Akzidenz Grotesk;
  src: url("/fonts/AkzidGroCFFBol.otf") format("opentype"),
    url("/fonts/AkzidGroCFFBolEx.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Akzidenz Grotesk;
  src: url("/fonts/AkzidGroCFFLigEx.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Akzidenz Grotesk;
  src: url("/fonts/AkzidGroCFFBolEx.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Akzidenz Grotesk;
  src: url("/fonts/AkzidGroCFFXBdIt.otf") format("opentype"),
    url("/fonts/AkzidGroCFFXBd.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Akzidenz Grotesk;
  src: url("/fonts/AkzidGroCFFIt.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Akzidenz Grotesk;
  src: url("/fonts/AkzidGroCFFLig.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Akzidenz Grotesk;
  src: url("/fonts/AkzidGroCFFLigIt.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Akzidenz Grotesk;
  src: url("/fonts/AkzidGroCFFLigExIt.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: Akzidenz Grotesk;
  src: url("/fonts/AkzidGroCFFReg.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: AkzidenzGroteskBE-CnIt;
  src: url("/fonts/AkzidGroCFFXBdCnIt.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Akzidenz Grotesk;
  src: url("/fonts/AkzidGroCFFMd.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
