// https://github.com/Klowd/onlineeventpro-product-ui/wiki/Styles
@import "../../../css/core";

.sorry {
  margin-top: 40px;
  font-size: 16px;
  font-weight: bold;
  font-family: $title-text-font;
  line-height: 1;

  h2 {
    font-size: 36px;
    font-family: $title-text-font;
    color: $primary-color;
    line-height: 1.19;
    margin: 0;
  }
}

.content {
  display: flex;
  align-items: center;

  svg {
    width: 35px;
    margin: 0 15px 0 0;
  }
}
