// https://github.com/Klowd/onlineeventpro-product-ui/wiki/Styles
@import "../../../css/core";

.buttonImg {
  padding: 0;
  border: 0;
  background: none;
  width: 100%;
}

button {
  &.bannerNoLink {
    padding: 0;
    width: 100%;
    cursor: default;
    background: none;
    border: 0;
  }

  &.bannerLink {
    cursor: pointer;
    &:focus-visible {
      outline: -webkit-focus-ring-color auto 1px;
    }
  }
}
