// https://github.com/Klowd/onlineeventpro-product-ui/wiki/Styles
@import "../../../css/core";

.sorry {
  @include mainPageSetting;
  text-align: center;
  min-height: 70vh;
  justify-content: center;

  > div {
    position: relative;

    /*
    @include mq("tablet-small") {
      transform: translateY(-15%);
    }
    */
  }

  h1 {
    font-size: 100px;
    font-weight: 700;
    line-height: 1;
    color: $primary-color;
    font-family: $title-text-font;
    margin: 0;
  }

  h2 {
    font-family: $title-text-font-2;
    font-weight: 300;
    color: $primary-color;
    font-size: 42px;
    line-height: 1;
    margin: 0;
  }

  p {
    max-width: 220px;
    margin: 15px auto 30px auto;
    font-family: $title-text-font;
    color: $brand-gray;
    line-height: 1.5;
    font-size: 16px;
  }

  svg {
    display: block;
    margin: 0 auto 30px auto;
    width: 100%;
    height: auto;
    max-width: 185px;

    path {
      fill: $primary-color;
    }
    circle {
      fill: $primary-color;
    }
  }

  a {
    @include primaryButton();

    display: inline-block;
    max-width: 100px;
    width: 100%;
    margin: 0 auto;
  }
}
