// https://github.com/Klowd/onlineeventpro-product-ui/wiki/Styles
@import "../../../css/core";

.logoutTitle {
  font-size: 19px;
  font-weight: bold;
  line-height: 1.21;
  text-align: center;
}

.logoutCopy {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.57;
  text-align: center;
}
