// https://github.com/Klowd/onlineeventpro-product-ui/wiki/Styles
@import "../../../css/core";
@import "../../Profile/scss/_account_profile_mixins";
@import "../../Header/scss/header-mixins";

.content {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.thumbnailWrapper {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.bodyTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
}

.subSessionTitle {
  padding-left: 40px;
  margin: 0;
  font-size: 14px;
}

.subSessionToggleButton {
  $buttonHeight: 14px;
  position: relative;
  border: none;
  appearance: none;
  height: $buttonHeight;
  margin-left: 0.5rem;

  &:after {
    content: "";
    background: url("/images/icons/chevron-down.svg") top center no-repeat;
    background-size: cover;
    width: $buttonHeight;
    height: $buttonHeight;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(-90deg);
    transition: transform ease-in-out 200ms;
  }

  &.expanded {
    &:after {
      transform: rotate(0deg);
    }
  }
}

.card {
  display: flex;
  flex-direction: row;
  @include listCardsBackground;
  @include listCardsSize;
}

.subSessionCard {
  display: flex;
  flex-direction: row;
  min-height: 130px;
  padding: 5px 0;
  background-color: #f0f0f059;

  @include mq("tablet-small") {
    min-height: 68px;
    padding: 0;
  }
}

.contentAndLinkWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;

  @include mq("tablet-small") {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.contentWrapper {
  flex: 1;
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  @include mq("tablet-small") {
    margin-bottom: 0;
  }
}

.linkWrapper {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq("phone-wide") {
    flex: 0 0 65px;
  }
}

.details {
  @include detailsReplyButton;
}

.unFavoriteWrapper {
  width: 40px;
  flex: 0 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    border: none;

    &:hover {
      box-shadow: 0px 0px 5px 2px $brand-grey-3;
      background-color: $brand-grey;
      background: radial-gradient(
        ellipse at center,
        $brand-grey 0%,
        $brand-grey-4 100%
      );
    }

    &:focus-visible {
      border: 1px solid $brand-gray;
    }
  }
}

.sessionContent {
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;

  @include mq("tablet-small") {
    flex-direction: row;
    justify-content: space-between;
  }
}

.centerInDiv {
  @include listCardInnerDiv();
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerInDivLarge {
  @include listCardInnerDiv();
  @include mq("tablet-small") {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.dateTimeWrapper {
  @include mq("midpoint") {
    display: flex;
    width: 210px;
    flex: 0 0 210px;
  }
}

.dateTime {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.bodyTitle, .bodyContent, .time {
  @include listCardsFont();
}
