// https://github.com/Klowd/onlineeventpro-product-ui/wiki/Styles
@import "../../../css/core";

.heartButton {
  padding: 5px;
  background-color: transparent;
  border: none;
  transform: scale(1, 1);
  transition: transform 0.3s $easeInOutCirc;
  position: relative;
  z-index: 10;

  &:hover {
    transform: scale(1.2, 1.2);
  }

  &:focus {
    outline: -webkit-focus-ring-color auto 1px;
    outline-color: $brand-black;
  }
}
